/* A lot of ids could probably be turned into classes. */

body {
  background-color: rgb(27, 40, 56);
  margin: 0;
  font-family: sans-serif;
}

.whiteText {
  color: white;
  text-align: center;
}

#gameListDiv {
  margin: auto;
  padding: 20px;
}

.break {
  width: 100%;
  height: 2px;
  background: rgb(57, 108, 137);
  background: linear-gradient(90deg, rgb(57, 108, 137, 1) 0%, rgb(9, 9, 121, 1) 50%, rgb(27, 40, 56, 1) 100%);
  margin: auto;
}

footer {
  margin: auto;
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: rgb(23, 26, 33);
  color: rgb(127, 152, 160);
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  min-height: calc(100vh - 185px);
  visibility: hidden;
}

#leftArrow {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 60px;
  height: 120px;
  background: linear-gradient(90deg, rgb(19, 28, 39) 0%, rgb(25, 37, 52) 100%);
  font-size: 40px;
  color: white;
}

#leftArrow:hover {
  background: linear-gradient(90deg, rgb(81, 142, 215) 0%, rgb(25, 37, 52) 100%);
  cursor: pointer;
}

#rightArrow {
  position: absolute;
  top: 40%;
  right: 0%;
  width: 60px;
  height: 120px;
  background: linear-gradient(90deg, rgb(25, 37, 52) 0%, rgb(19, 28, 39) 100%);
  font-size: 40px;
  color: white;
}

#rightArrow:hover {
  background: linear-gradient(90deg, rgb(25, 37, 52) 0%, rgb(81, 142, 215) 100%);
  cursor: pointer;
}

#updates {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  width: 616px;
  background-color: rgb(22, 32, 45);
  color: rgb(197, 195, 192);
  font-size: 18px;
  border: 1px solid black;
  transform: translate(0, 10px);
}

#insideUpdates {
  color: rgb(172, 178, 184);
  cursor: auto;
}

details>summary {
  list-style: none;
}

#updates:focus {
  width: 500px;
}

#updatesTitle {
  text-align: center;
  font-size: 20px;
}

#reviewDiv {
  /*Disabled for testing*/
  /*display:none;*/
  background-color: rgb(22, 32, 45);
  width: 616px;
  min-height: 200px;
  max-height: 700px;
  overflow: hidden;
  margin: auto;
  border: 1px solid black;
}

a {
  outline: none;
}

#idDiv {
  float: left;
  color: rgb(100, 117, 128);
  font-size: 12px;
  transform: translate(3px, 15px);
}

#reviewBreak {
  width: 616px;
  height: 1px;
}

#profileStuff {
  width: 200px;
  float: left;
  color: rgb(125, 144, 164);
}

#profPic {
  width: 32px;
  height: 32px;
  padding: 10px;
  float: left;
}

#username {
  font-weight: bold;
  font-size: 13px;
  transform: translate(0, -4px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

#usernameDiv {
  width: 145px;
  height: 14px;
  display: inline-block;
  padding-bottom: 30px;
}

#username:hover {
  cursor: pointer;
}

#prods {
  font-size: 11px;
  transform: translate(0, -24px);
  float: left;
}

#prods:hover {
  color: rgb(86, 162, 206);
  cursor: pointer;
}

#amtOfReviews {
  display: block;
  font-size: 11px;
  transform: translate(52px, -45px);
  float: left;
}

#amtOfReviews:hover {
  color: rgb(86, 162, 206);
  cursor: pointer;
}

#recommendation {
  width: 400px;
  height: 40px;
  float: right;
  background-color: rgb(18, 26, 36);
  transform: translate(0, 8px);
}

#recommendation:hover {
  background-color: rgb(47, 55, 66);
  cursor: pointer;
}

#recoPic {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

#yesButtonImg {
  background: url("OtherImages/thumbsUpRealNoBack.png");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  transform: translate(-1px, 3px);
}

#noButtonImg {
  background: url("OtherImages/thumbsUpFlippedNoBack.png");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  transform: translate(-1px, 3px);
}

#funnyButtonImg {
  background: url("OtherImages/smile.png");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  transform: translate(-1px, 4px);
}

#awardButtonImg {
  background: url("OtherImages/award.png");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  transform: translate(-1px, 4px);
}

.round:hover {
  background-color: rgb(102, 192, 244);
  color: white;
}

#recommendationText {
  display: inline-block;
  transform: translate(-5px, -20px);
  color: rgb(209, 210, 211);
  font-size: 16px;
}

#hoursText {
  color: rgb(72, 84, 98);
  transform: translate(48px, -45px);
  font-size: 11px;
}

#actualReview {
  float: right;
  height: fit-content;
  width: 400px;
}

#postedDate {
  color: rgb(80, 94, 109);
  font-size: 10px;
  transform: translate(0, 5px);
}

#reviewText {
  color: rgb(172, 178, 184);
  font-size: 13px;
}

#helpfulOrFunnyVoting {
  width: 400px;
  height: 70px;
  float: right;
  transform: translate(0, -7px);
}

#votesDiv {
  width: 400px;
  height: 40px;
  float: right;
  transform: translate(0, -10px);
}

#funnyButton {
  width: 65ppx;
  height: 22px;
}

#awardButton {
  width: 62px;
  height: 22px;
}

#donateButton {
  width: 180px;
  height: 22px;
}

.round {
  border-radius: 5px;
  background-color: rgb(33, 44, 61);
  color: rgb(102, 192, 244);
  border: none;
  font-size: 12px;
}

.round:hover {
  cursor: pointer;
}

#yesButton {
  width: 51px;
  height: 22px;
}

#noButton {
  width: 47px;
  height: 22px;
}

#helpfulText {
  color: rgb(72, 84, 98);
  font-size: 12px;
}

#helpfulBreak {
  height: 1px;
  background-color: rgb(54, 63, 76);
  width: 400px;
  float: right;
  transform: translate(0, -5px);
}

#helpfulVotes {
  color: rgb(100, 117, 128);
  font-size: 12px;
  transform: translate(0, -5px);
}

#funnyVotes {
  color: rgb(72, 84, 98);
  font-size: 12px;
  color: rgb(100, 117, 128);
  transform: translate(0, -15px);
}

.goldenText {
  color: rgb(252, 248, 9);
  text-shadow:
    0 0 5px rgb(252, 248, 9),
    0 0 10px rgb(252, 248, 9),
    0 0 15px rgb(252, 248, 9),
    0 0 20px rgb(252, 248, 9),
    0 0 25px #fff,
    0 0 30px #fff,
    0 0 35px #fff;

  animation: glowExpand 1s ease-in-out infinite alternate;
}


@keyframes glowExpand {
  100% {
    text-shadow:
      0 0 10px rgb(252, 248, 9),
      0 0 15px rgb(252, 248, 9),
      0 0 20px rgb(252, 248, 9),
      0 0 25px rgb(252, 248, 9),
      0 0 30px #fff,
      0 0 35px #fff,
      0 0 40px #fff;
  }
}

.inlineText {
  display: inline;
}

#notAffiliated {
  font-size: 20px;
  font-weight: bold;
}